<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Recommendations</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>Movies</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Release Year</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for m in movies %}
        <tr>
          <td>{{ m[1] }}</td>
          <td>{{ m[2] }}</td>
          <td>{{ m[3] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>
